<div class="col-lg-12" [@componentAnimation]>
<button class="boton_activo btn btn-success" [@marcar]="status" (click)="changeStatus(status)">
    <span *ngIf="status == 'inactive' else activo">Boton inactivo</span>
    <ng-template #activo>
        <span>Boton activo</span>
    </ng-template>
</button>
<hr>
<h4>Animaciones CSS3</h4>
<a class="boton_transiciones">Transiciones</a>
<hr>

<simple-tiny [elementId]="'descripcionTienda'" (onEditorKeyup)="textoEditor($event)"
>
</simple-tiny>

<hr>
Padre:
<h1>{{title}}</h1>
Nombre del parque:
<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()"><br>
<p>Resultado: {{nombreDelParque}}</p>
<ol *ngIf="miParque else noParque">
    <li>{{miParque.nombre}}</li>
    <li>{{miParque.metros}}</li>
    <li>{{miParque.vegetacion}}</li>
    <li>{{miParque.abierto}}</li>
</ol>
<ng-template #noParque>
    <h3>No hay datos recibidos del componente hijo</h3>
</ng-template>
Hijo: <br>
<parques [nombre]="'Nombre por defecto'" [longitud]="123" (pasameDatos)="verDatosParque($event)"></parques>
<p *ngIf="nombreDelParque else noNombre">
    <parques [nombre]="nombreDelParque" [longitud]="567" (pasameDatos)="verDatosParque($event)"></parques>
</p>
<ng-template #noNombre>
    <span>Inserte algo en el campo de texto para darle nombre al parque</span>
</ng-template>
</div>